@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

*{
    margin: 0;
}

.hero-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-image:url(https://images.unsplash.com/photo-1624378515195-6bbdb73dff1a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 10px;
}

h1{
    font-family: 'oswald', sans-serif ;
    color: white;
    font-size: 50px;
}

nav {
    width: 50%;
}

ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 700px;
}

li{
    font-family: 'oswald', sans-serif ;
    font-size: 21px;
    color: white;
    cursor: pointer;
}

li:hover {
    color: rgb(104, 77, 102);
    text-shadow: 0 0 0.2em  rgb(104, 77, 102) 
}

.arrows {
    width: 60px;
    height: 172px;
    bottom: 20px;
}

.arrows path{
    stroke: #fff;
    fill: transparent;
    stroke-width: 1px;
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2s infinite;
}

@keyframes arrow
{
0%{opacity: 0}
40% {opacity: 1}
80% {opacity: 0}
100% {opacity: 0}
}

@-webkit-keyframes arrow
{
0%{opacity: 0;}
40%{opacity: 1;}
80%{opacity: 0;}
100%{opacity: 0;}
}

.arrows path.a1 {
    animation-delay:  -0.5s;
    -webkit-animation-delay:  -1s;
}

.arrows path.a2 {
    animation-delay:  -0.5s;
    -webkit-animation-delay:  -0.5s;
}

.arrows path.a3 {
    animation-delay:  -0.5s;
    -webkit-animation-delay:  0s;
}

.content-container {
    height: 100vh;
    background-color: #333;
}

.profile-container{
    color: #333;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../jack-b-B10AxHKLvnQ-unsplash.jpg);
    background-size: cover;
}

.profile-content{
    width: 30%;
}

.profile-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    background: white;
    padding: 30px;
    border-radius: 8px;
}

.profile-image{
    width: 130px;
    height: auto;
    border-radius: 10px;
    border: 2px solid rgb(104, 77, 102);
}

.name-text {
    font-family: 'oswald', sans-serif;
    font-size: 21px;
    margin-top: 15px;
    color: black;
}

.profile-text{
    font-family: 'oswald', sans-serif;
    font-size: 17px;
    text-align: center;
    width: 80%;
    margin-top: 10px;
}

.profile-button {
    width: 150px;
    height: 50px;
    border-radius: 15px;
    border: none;
    background-color: rgb(104, 77, 102);
    color: #fff;
    font-family: 'oswald', sans-serif;
    margin-top: 35px;
    cursor: pointer;
}

.profile-button:hover{
    color: rgb(2, 1, 2);
    background: rgb(139, 124, 124);
}

.divider{
    width: 100%;
    border-top: .5px solid #bfbfbf;
    margin: 20px 0;
}

.icons-container{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.icon-item{
    width: 80px;
    height: auto;
}

.profile-sinopse{
    width: 430px;
    font-family: 'oswald', sans-serif;
    color: white;
    font-size: 19px;
    margin-left: 40px;
}

.project-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./projectbg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
}

.project-content{
    width: 75%;
    height: 80%;
    display: grid;
    grid-template-rows: repeat(1fr, 3);
}

.position-container{
    width: 100%;
    display: flex;
}

.right{
    justify-content: flex-end;
}

.left{
    justify-content: flex-start;
}
.project-card{
    width: 650px;
    height: 200px;
    background-color: black;
    box-shadow: 10px 10px 5px black;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.card-reverse{
    flex-direction: column-reverse;
}

.project-image{
    width: 350px;
    height: auto;
    position: relative;
    border-radius: 8px;
    top: 40px;
}

.image-reverse{
    left: 20px;
}

.project-text{
    color: white;
    font-family: 'oswald', sans-serif;
    margin-left: 10px;
    padding-top: 20px;
}

.form-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./nubelson-fernandes--Xqckh_XVU4-unsplash.jpg');
    background-size: cover;
    background-position: 50% 50%;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(115, 150, 130);
    width: 450px;
    height: 500px;
    padding: 20px;
    border-radius: 8px;
}

label{
    display: block;
}

input{
    display: block;
    width: 100%;
    border-radius: 8px;
}

textarea{
    display: block;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: 250px;
    max-height: 250px;
    min-height: 250px;
    border-radius: 8px;
}

button{
    width: 100%;
    border: none;
    background-color: white;
    color: #333;
    border-radius: 8px;
    padding: 8px 12px;
    margin-top: 12px;
}

button:hover{
    background-color: #bfbfbf;
    color: black;
}

@media(max-width: 768px){
    .hero-container{
        width: 100%;
    }

    h1{
        width: 90%;
        align-items: center;
        justify-content: space-between;
    }

    nav {
        width: 50%;
    }

    ul{
        display: none;
    }

    .profile-container{
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .profile-card{
       width: 110%;
    }

    .profile-image{
        width: 80%;
    }

    .name-text{
        width: 105%;
    }

    .profile-text{
        width: 125%;
    }

    .profile-button{
        width: 120px;
    }

    .divider{
        width: 100%;
    }

    .icons-container{
        width: 50%;
    }

    .icon-item{
        width: 90%;
    }
    
    .profile-sinopse{
        width: 90%;
        margin-top: 20px;
        margin-right: 20px;
    }

    .project-container{
        width: 100%;
        background-size: cover;
        background-position:50% 50% ;
    }

    .project-content{
        width: 100%;
    }

    .right{
        justify-content: flex-end;
    }

    .project-card{
        width: 100%;
    }

    .card-reverse{
        flex-direction: column-reverse;
    }
    
    .project-image{
        width: 60%;
        border-radius: 8px;
        top: 40px;
        flex-direction: column;
    }
    
    .image-reverse{
        left: 20px;
    }
    
    .project-text{
        color: white;
        font-family: 'oswald', sans-serif;
        width: 40%;
    }

    .form-container{
        width: 100%;
    }

    form{
        width: 80%;
    }
}